.admin-orders {
  margin: 50px auto;
  width: 70%;
  color: #6d6d6d;
}

.admin-order-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.admin-order-item {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
  align-items: start;
  gap: 30px;
  border: 1px solid tomato;
  padding: 20px;
  margin: 30px 0px;
  font-size: 14px;
  color: #505050;
}

.admin-order-item-food {
  font-weight: 600;
}

.admin-order-item-name {
  font-weight: 600;
  margin-bottom: 5px;
}

.admin-order-item-address {
  margin-bottom: 10px;
}

.admin-order-item select {
  background-color: #ffe8e4;
  border: 1px solid tomato;
  width: max(10vw, 120px);
  padding: 10px;
  outline: none;
}

@media (max-width: 1000px) {
  .admin-order-item {
    grid-template-columns: 1fr 2fr 1fr;
    gap: 15px;
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .admin-order-item {
    grid-template-columns: 1fr;
  }
}